@import url('https://fonts.cdnfonts.com/css/jokerman');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;500;600&family=Bellota+Text&family=Dancing+Script:wght@700&family=Fredoka:wght@500;600&family=Indie+Flower&family=Jacques+Francois&family=Mulish&family=Poppins&family=Roboto&display=swap');
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* container */
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
/* heading */
.container h1{
    font-family: Jokerman;
    color: #ff941a;
    font-size: 60px;
}
/* score board */
.score{
    width: 60vw;
    padding: 20px;
    border-radius: 30px;
    background: rgba(0, 13, 55, 0.01);
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
/* player 1 and player 2 score */
.player1, .player2{
    width: 80%;
    /* height: 50px; */
    border-radius: 50px;
    color: white;
    font-weight: 800;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
/* player1 */
.player1{
    color: #111;
    background: #39ff14;
    /* box-shadow: 0 0 25px #39ff14; */
}
/* player2 */
.player2{
    background-color: #dfff31;
    /* box-shadow: 0 0 25px #dfff31; */
    color: black;

}
/* result box */
.congrats{
    width: 40vw;
    /* height: 300px; */
    border-radius: 34px;
    background: rgba(176, 176, 176, 0.50);
    backdrop-filter: blur(25px);
    padding: 20px 5px;
    font-size: 22px;
    font-family: 'Jacques Francois', serif;
    text-align: center;
}
/* gif */
.congrats img{
    width: 150px;
}
/* play-again button */
button{
    text-align: center;
    width: 300px;
    height: 50px;
    border-radius: 50px;
    background: #ff941a;
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 15px 0;
    box-shadow:  0px 0px 35px 0px #000;
    outline: none;
    border: none;
}
button:active{
    transform: scale(0.9);
}
#quit{
    width: 100px;
    position: absolute;
    top: 0px;
    right: 0;
}
#quit:active{
    transform: scale(0.9);
}
@media all and (max-width:800px){

    .congrats{
        font-size: 20px;
    }
    .score{
        flex-direction: column;
        width: fit-content;
    }
    .player1, .player2{
        /* width: fit-content; */
    }
    #quit{
        display: none;
    }
    .congrats{
        width: 80vw;
    }
}
@media all and (max-width:600px){
    .congrats{
        width: 50vw;
        font-size: 18px;
    }
    .congrats img{
        width: 120px;
    }
}
@media all and (max-width:450px){
    .congrats{
        width: 60vw;
        font-size: 18px;
    }
    .congrats img{
        width: 100px;
    }
    .container h1{
        font-size: 40px;
    }
}